<%- include('includes/head') %>

<body>
  <!--ler a documentação EJS-->
  <!--<%= titulo%> <br>
       <%- titulo%>-->
       <!--
         <% if(typeof titulo !== 'undefined') { %>
        <%= titulo %>
     <% } else { %>
          Otitulo não foi enviado.
     <% } %>

    <% numeros.forEach(num => {  %>
            <%= num %> <br>
      <% }); %>-->

  <section class="container">
    <h1>
      
       
    </h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>

  <%- include('includes/footer') %>